### **Data Science Internship At Sparks Foundation**

**Name : Sakshi Anilrao Deshmukh**

# **Task 1 : Prediction using superised machine learning**

In [24]:
#importing required libraries

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
#Here we are using online dataset through URL which is in csv format

URL = "http://bit.ly/w-data"
Data = pd.read_csv(URL , delimiter= ","  )

In [3]:
#converting dataset into dataframe 

Data_DF = pd.DataFrame(Data)
Data_DF

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [4]:
#copying single feature values into X
X =np.array(Data_DF["Hours"]).reshape(-1 ,1)
X

array([[2.5],
       [5.1],
       [3.2],
       [8.5],
       [3.5],
       [1.5],
       [9.2],
       [5.5],
       [8.3],
       [2.7],
       [7.7],
       [5.9],
       [4.5],
       [3.3],
       [1.1],
       [8.9],
       [2.5],
       [1.9],
       [6.1],
       [7.4],
       [2.7],
       [4.8],
       [3.8],
       [6.9],
       [7.8]])

In [7]:
#copying target value in Y
Y =np.array(Data_DF["Scores"])
Y

array([21, 47, 27, 75, 30, 20, 88, 60, 81, 25, 85, 62, 41, 42, 17, 95, 30,
       24, 67, 69, 30, 54, 35, 76, 86])

In [8]:
#initializing the model
model = LinearRegression()

In [9]:
#here we are fitting the model on X and Y values(i.e feature and target)
model.fit(X ,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
 
 #calculating accuracy of model using R_sq function
r_sq = model.score(X, Y)
print("coefficient of determination:", r_sq)

coefficient of determination: 0.9529481969048356

In [44]:
#predicting on new value
New_x =[ 9.25]
New_x =np.array(New_x).reshape(-1,1)
New_y=np.round(model.predict(New_x))
print("Predicted score  for {} hrs of study is {}".format(New_x , New_y))

Predicted score  for [[9.25]] hrs of study is [93.]